<!-- templates/home.html -->

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% comment %} <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
    <title>Django + Stripe Checkout</title>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    {% comment %} <script src="https://js.stripe.com/v3/"></script>  <!-- new --> {% endcomment %}
    {% comment %} <script src="{% static 'main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> {% endcomment %}
  </head> 
  <body>
  <section class="section">
    <div class="container">
     <form action="{% url 'sendmail' %}" method="POST" class="sendmail">
            {% csrf_token %}  
            <table>
            <tr>
                <td>Invoice Number</td>
                <td>Client Name</td>
                <td>Amount</td>
            </tr>
            {% for item in invoces %}
            <tr> 
                <td>{{ item.id }}</td>
                <td>{{ item.invoice_num }}</td>
                <td>{{ item.client_name }}</td>
                <td>{{ item.Amount }}</td>
                <td>
                
                {% comment %} <inputype="hidden", name="id", value={{item.id}}> {% endcomment %}
                {% comment %} <button class="button is-primary" , onclick="location.href='{% url 'sendmail' %}'" id="submitBtn">sendlink</button> {% endcomment %}
                {{item.id}}
                {% comment %} <button type="submit" value={{item.id}} onclick="location.href='{% url 'sendmail' item.id %}'" name='mybtn2'>sendlink</button> {% endcomment %}
                <button type="submit" name="button" value={{item.id}} onclick="location.href='{% url 'sendmail' %}'" class="btn btn-outline-primary btn-lg btn-block lg-btn">Sendlink</button>
                </td>
            </tr>
            {% endfor %}
        </table>
              
              
            
        </form>
    {% comment %} <form method="POST">
    {% csrf_token %} {% endcomment %}
        
    {% comment %} </form> {% endcomment %}
    </div>
  </section>
  </body>
</html>
