<!-- templates/home.html -->

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Invoice</title>
     <style>
         table, th, td {
            border: 1px solid black;
         }
      </style>
    </head> 
  <body>
  <section class="section">
    <div class="container">
     <form action="{% url 'sendmail' %}" method="POST" class="sendmail">
            {% csrf_token %}  
            <table >
            <tr padding=>
                <th style="padding:10px">Sl.No</th>
                <th style="padding:10px">Invoice Number</th>
                <th style="padding:10px">Client Name</th>
                <th style="padding:10px">Amount</th>
            </tr>
            {% for item in invoces %}
            <tr> 
                <td>{{ item.id }}</td>
                <td>{{ item.invoice_num }}</td>
                <td>{{ item.client_name }}</td>
                <td>{{ item.Amount }}</td>
                <td>
                <button type="submit" name="button" value={{item.id}} onclick="location.href='{% url 'sendmail' %}'" class="btn btn-outline-primary btn-lg btn-block lg-btn">Sendlink</button>
                </td>
            </tr>
            {% endfor %}
        </table>
              
              
            
        </form>
    
    </div>
  </section>
  </body>
</html>
